{% extends 'base.html.twig' %}

{% block title %}New Capitulo{% endblock %}

{% block body %}
    <h1>Create new Capitulo</h1>

    {{ include('capitulo/_form.html.twig') }}

    <a href="{{ path('capitulo_index') }}">back to list</a>
{% endblock %}
